@model IEnumerable<ProvaCandidatoDotNet.Models.Tag>

@{
    ViewData["Title"] = "Tags";
}

<h2>Tags</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova Tag</a>

    <a href="/" class="btn btn-secondary">
        Notícias
    </a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <td>@tag.Nome</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tag.Id" class="btn btn-sm btn-warning">Editar</a>
                    <form asp-action="Delete" method="post" style="display:inline">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@tag.Id" />
                        <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
